.fa{
	margin-right: 16px;
	margin-left: 16px;
	color: white;
	padding: 12px 14px;
	font-size: 18px;
}
.fa:hover{
	background-color: white;
	color: black;
}
.logo{
	color: white;
	font-size: 18px;
	margin: 0;
}
.m:hover{
	background-color: #cc;
}
.navbar{
	background-color: #3d646f;

}
.profiile{
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
	margin: 10px 0;
	font-size: 20px;
	padding-top: 12px;
}
#h{
	display: flex;
}
.social{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
	width: 94%;
	padding-left: 18px;
	margin-top: 30px;
}
hr{
	border-top: 1px solid #eee;
	margin: 20px 0;
}
.padding{
	padding: 0 8px;
	margin: 0 -16px;

}
.event{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
	margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    padding-top: 13px;
    margin-top: 35px;

}
.thumbs{
	background-color: #4d636f;
	color: white;
	margin-bottom: 13px;
	margin-left: 12px;
	border: none;
}
.thumbs:hover{
	color: black;
	background-color: #ccc;
}
.min{
	margin-top: 23px;
}
.opacity{
	margin-left: 21px;
}
.circl{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
	width: 97%;
	margin-top: 20px;

}
.accept{
	color: white;
	background-color: #4caf50;
}
.decline{
	background-color: #f44336;
}
.accept:hover{
	color: black;
	background-color: #ccc;
}
.decline:hover{
	color:black;
	background-color: #ccc;
}
.opacty{
	display: flex;
	padding-top: 12px;
	padding-left: 22px;
}
.profilee{
	padding-left: 73px;
}
.rqst{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
margin-right: 18px;
padding-bottom: 15px;
}
.check{
	padding-top: 17px;
	padding-left: 49px;
}
.ads{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
	padding: 28px;
	margin-top: 22px;
	margin-right: 21px;

}
.footer{
	color: white;
	background-color: #435761;
	padding-bottom: 16px;
	padding-bottom: 16px;
	font-size: 15px;
}
.ftr{
	font-size: 15px;
	font-family: sans-serif;
padding-top: 38px;
padding-left: 22px;
font-weight: 400;
}
.butn:hover{
	background-color: #ccc;

}
.css{
	background-color: #303e45;
	padding: 1px;
	color: white;
	padding-left: 21px;


}
.add{
	padding-left: 59px;
	font-size: 15px;
}
i.fa.fa-bug.box{
	color: black;
	padding-top: 40px;
	padding-bottom: 59px;
	padding-left: 96px;
	padding-right: 94px;



}
.holiday{
	color: black;
	text-align: center;
	font-size: 15px;
	line-height: 1.5;
	font-family: sans-serif;
	padding-left: 58px;
}
.friday{
	padding-left: 48px;
	font-size: 15px;
}
.john{
	margin-left: 21px;
	font-size: 20px;
	font-weight: 400;
}
.butn{
	    margin-bottom: 11px;
    padding-right: 122px;
    text-align: center;
    background-color: #dfe5e8;
    padding-left: 91px;
    padding-right: 67px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.clear{
	margin-left: 21px;
	margin-right: 22px;
}
.dolor{
	padding-left: 21px;
	font-size: 15px;
	font-family: sans-serif;
}
.light{
	margin-bottom: 16px;
	padding-right: 20px;
	padding-left: 21px;
}
.nature{
	padding-right: 20px;
}
.span{
	float: right;
	margin-right: 10px;
}
.three{
	position: absolute;
	color: white;
	background-color: green;
	border-radius: 50px;

}
.min{
	width: 97%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
}
.padding{
	display: flex;
}
.btn{
	background-color:#607d8b;
	color: white;
	margin-bottom: 10px;
	border: none;

}
.temp{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #607d8b;
	padding-top: 19px;
}
.cont{
	padding: 8px 16px;
	border: 1px solid #ccc;
	margin-right: 9px;
	font-size: 15px;
}
.frnd{
	display: none;

}
.frnd:hover{
	display:block;
}
.three:hover{
	background-color: #ccc;
}
#pen{
	padding-right: 117px;
}
.detail_page{
	display: flex;
}
i.fa.fa-bell:hover{
	background-color: #ccc;
}
.avatar{
	float: right;
	padding-top: 7px;
	border-radius: 50%;
	margin-right: 23px;
}
.avatar:hover{
	background-color: white;
}
.avatarr{
	border-radius: 50%;
	text-align: center;
}
.profile{
	width: 94%;
	padding-top: 22px;
	text-align: center;
	font-size: 15px;


}
.all{
	display: fle
}
.box{
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
margin-left: 17px;
}
.all{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
}
.Groups{
	background-color: #7d97a5;
	padding-right: 113px;
	color: white;
	font-size: 15px;
	margin-left: 13px;
}
#icon:hover{
	background-color: #ccc;
	color: black;

}
.find{
	color: black;
	background-color: #dfe5e8;
	border: 1px,solid,#ccc;
	padding: 0.01em 6px;
	margin-left: 13px;
	font-size:15px;
	line-height: 1.5;
	width: 87%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);


}
.news{
	font-size: 12px;
	color: white;
	background-color: #303e45;
}
.food{
	font-size: 12px;
	color:black;
	background-color: #dfe5e8;
}
.int{
	width: 80%;
	padding-left: 38px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,12);
	margin-left: 13px;

}
